<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.android.snappay">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--for reading netwconnectionStatetate..-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--For Picking image from camera, gallery-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activity.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SetPinActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.EnterPinActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SignUpActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SignUpEnterOtpActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:screenOrientation="portrait" />


        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <activity
            android:name=".activity.SendMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EnterAmountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SelectCurrencyActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".activity.SendMoneyPaymentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AddNewCardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SendMoneySummaryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AddNoteActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SendMoneySuccessActivity"
            android:screenOrientation="portrait" />

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <activity
            android:name=".activity.RequestMoneyActivity"
            android:screenOrientation="portrait" />

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <activity
            android:name=".activity.WalletActivity"
            android:screenOrientation="portrait" />
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <activity
            android:name=".activity.SnapPayActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.ShowQrCodeActivity"
            android:screenOrientation="portrait" />

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".firebase.MyFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4d0baa74f92fc3624041c7cad5c488d3348d068e" />

    </application>

</manifest>
